@import "../../assets/scss/_mixins/mixins.scss";



.catalog{
    width: 100%;
    padding-bottom: rem(70);
    @include adp('padding-bottom', 70, 30);
}
.container{
    max-width: rem(1340);
    width: 100%;
    margin-left: auto;
    position: relative;
}
.sort{
    position: absolute;
    top: rem(-68);
    right: 0;
    display: flex;
    gap: rem(15);
    z-index: 2;
}
.asc,
.desc{
    border: 0;
    color: #BDBDBD;
    display: flex;
    gap: rem(5);
    padding: rem(8) rem(15);
    align-items: center;
    font-size: rem(14);
    span{
        color: #BDBDBD;
    }
    &:active{
        span{
            color: white;
        }
    }
}
.asc{
    span{
        transform: rotate(90deg);
    }
}
.desc{
    padding: rem(8) rem(13);
    span{
        transform: rotate(-90deg);
        position: relative;
        right: -2px;
    }
}
.filter{
    padding: rem(8) rem(15);
}
.list{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: rem(30);
    max-width: 100%;
    @media(max-width: em(1640)){
        grid-template-columns: repeat(4, 1fr);
    }
    @media(max-width: em(1100)){
        grid-template-columns: repeat(3, 1fr);
    }
    @media(max-width: em(820)){
        grid-template-columns: repeat(2, 1fr);
        gap: rem(10);
    }
    @media(max-width: em(480)){
        grid-template-columns: 1fr;
    }
}
.card{
    background-color: white;
    max-width: rem(245);
    width: 100%;
    padding: rem(30);
    display: flex;
    flex-direction: column;
    border-radius: rem(20);
    height: 100%;
    box-shadow: 0px 0px 30px 0px rgba(68, 68, 68, 0.05);
    transition: .2s;
    &:hover{
        box-shadow: 0px 0px 30px 0px rgba(68, 68, 68, 0.15);
        transform: scale(1.03);
    }
    @media(max-width: em(1640)){
        max-width: 100%;
    }
}
.fav_icon{
    cursor: pointer;
    animation-name: ease, favourites;
    animation-duration: 200ms;
    @keyframes favourites {
        0%{
            transform: scale(1);
        }
        50%{
            transform: scale(2);
        }
        100%{
            transform: scale(1);
        }
    }
}
.fav_icon_none{
    cursor: pointer;
}
.icons{
    display: flex;
    justify-content: space-between;
}
.favourites{
    background-color: unset;
    border: 0;
    color: #976464;
}
.icon_menu{
    margin-left: auto;
}
.img{
    max-width: rem(185);
    height: rem(185);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    img{
        max-width: 100%;
        width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
}
.name{
    margin-bottom: rem(15);
    line-height: 105%;
    @media(max-width: em(480)) {
        font-size: rem(12);
    }
}
.description{
    margin-bottom: rem(15);
    flex-grow: 1;
    p{
        color: #C4C4C4;
        font-size: rem(10);
    }
}
.price{
    margin-bottom: rem(16);
    font-weight: 600;
}
.button{
    border: 0;
    display: flex;
    padding: rem(15) rem(40);
    gap: rem(10);
    font-size: rem(14);
    color: #976464;
    margin: 0 auto;
    position: relative;
    p{
        color: #976464;
        min-width: rem(75);
    }
    &:active{
        color: white;
        p{
            color: white;
        }
    }
}
.count{
    position: absolute;
    top: 0;
    transform: translateY(-40%);
    right: 2%;
    padding: 0;
}

.error,
.notFound{
    height: rem(500);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    @include adp('height', 500, 300);
    h2{
        white-space: nowrap;
        @include adp('font-size', 28, 16);
    }
}