@import '../_mixins/mixins.scss';

.BtnBackground {
  background: linear-gradient(102.48deg, #976464 -29.03%, #cfa5a5 97.75%);
  display: flex;
  align-items: center;
  -webkit-border-radius: rem(65);
  -moz-border-radius: rem(65);
  -ms-border-radius: rem(65);
  border-radius: rem(65);
  cursor: pointer;
  align-items: center;
  gap: rem(5);
  color: white;
  transition: border 0.2s;
  border: 0;
  font-size: rem(16);
  @include adp('font-size', 16, 12);
  &:hover {
    background: linear-gradient(102.48deg, #7b4646 -29.03%, #bf9191 97.75%);
  }
  &:active {
    box-sizing: border-box;
    background: none;
    background-color: white;
    color: #976464;
    outline: solid #976464 1px;
    .btnIcon {
      color: white;
    }
  }
}

.BtnBackgroundNone {
  border: 0;
  background-color: transparent;
  outline: 1px solid #bdbdbd;
  -webkit-border-radius: rem(50);
  -moz-border-radius: rem(50);
  -ms-border-radius: rem(50);
  border-radius: rem(50);
  font-size: rem(16);
  color: #976464;
  cursor: pointer;
  @include adp('font-size', 16, 12);
  &:hover {
    outline: 1px solid #976464;
  }
  &:active {
    background: linear-gradient(102.48deg, #976464 -29.03%, #cfa5a5 97.75%);
    outline: transparent;
    color: white;
  }
}

.BtnGray {
  border: 0;
  background-color: transparent;
  outline: 1px solid #bdbdbd;
  -webkit-border-radius: rem(50);
  -moz-border-radius: rem(50);
  -ms-border-radius: rem(50);
  border-radius: rem(50);
  font-size: rem(16);
  color: #bdbdbd;
  cursor: pointer;
  @include adp('font-size', 16, 12);
  &:hover {
    outline: 1px solid #976464;
    color: #976464;
  }
  &:active {
    background: linear-gradient(102.48deg, #976464 -29.03%, #cfa5a5 97.75%);
    outline: transparent;
    color: white;
  }
}

.Close {
  max-width: rem(30);
  width: 100%;
  height: rem(30);
  border: 0;
  position: relative;
  margin-left: auto;
  background-color: transparent;
  right: 0;
  .Line1,
  .Line2 {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: black;
    left: 0;
  }
  .Line1 {
    transform: rotate(45deg);
  }
  .Line2 {
    transform: rotate(-45deg);
  }
}

.Container {
  width: 100%;
  margin: 0 auto;
  max-width: rem(1620);
}

.ContainerPadding {
  width: 100%;
  margin: 0 auto;
  max-width: rem(1660);
  padding: rem(20) rem(20) 0;
  @include adp('padding-left', 20, 10);
  @include adp('padding-right', 20, 10);
}

.TextDecor {
  font-size: rem(245.94);
  color: #5e5c5a;
  opacity: 0.03;
  pointer-events: none;
}

.Input {
  border: 1px solid #bdbdbd;
  -webkit-border-radius: rem(50);
  -moz-border-radius: rem(50);
  -ms-border-radius: rem(50);
  border-radius: rem(50);
  background-color: transparent;
  &:focus {
    border: 1px solid #976464;
    &::placeholder {
      color: #976464;
    }
  }
  @media (max-width: em(480)) {
    font-size: rem(14);
    &::placeholder {
      font-size: rem(14);
    }
  }
}

.Сheckbox {
  appearance: none;
  background-color: transparent;
  width: rem(14);
  height: rem(14);
  -webkit-border-radius: rem(3);
  -moz-border-radius: rem(3);
  -ms-border-radius: rem(3);
  border-radius: rem(3);
  border: 1px solid #bdbdbd;
  cursor: pointer;
  position: relative;
  &:checked {
    border: 1px solid #976464;
    &::after {
      content: '';
      background-image: url('../../images/icons/complete.svg');
      max-width: rem(11);
      width: 100%;
      height: rem(11);
      position: absolute;
      background-size: cover;
      left: 0px;
      top: 0;
    }
  }
}

.СheckboxBig {
  appearance: none;
  background-color: transparent;
  width: rem(30);
  height: rem(30);
  -webkit-border-radius: rem(6.5);
  -moz-border-radius: rem(6.5);
  -ms-border-radius: rem(6.5);
  border-radius: rem(6.5);
  border: 1px solid #bdbdbd;
  cursor: pointer;
  position: relative;
  &:checked {
    border: 1px solid #976464;
    &::after {
      content: '';
      background-image: url('../../images/icons/complete.svg');
      max-width: rem(24);
      width: 100%;
      height: rem(26);
      position: absolute;
      background-size: cover;
      left: 0px;
      top: 0;
    }
  }
}

.Radio {
  appearance: none;
  background-color: transparent;
  width: rem(30);
  height: rem(30);
  border: 1px solid #976464;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  &:checked {
    &::after {
      content: '';
      width: rem(19);
      height: rem(19);
      background: linear-gradient(102.48deg, #976464 -29.03%, #cfa5a5 97.75%);
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-46.5%, -46.5%);
    }
  }
}

.Count {
  background-color: #d3d3b5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  font-size: rem(10);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: #976464;
  width: rem(20);
  height: rem(20);
  padding: 0;
}

.ModalBackground {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  .modal {
    z-index: 1;
    background-color: white;
    padding: rem(40) rem(105) rem(80);
    @include adp('padding-left', 105, 15);
    @include adp('padding-right', 105, 15);
    -webkit-border-radius: rem(20);
    -moz-border-radius: rem(20);
    -ms-border-radius: rem(20);
    border-radius: rem(20);
    box-shadow: 0px 0px 30px rgba(68, 68, 68, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    animation-name: ease, animation;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
    @media (max-width: em(1024)) {
      width: 100%;
      bottom: 0;
      height: 100%;
      -webkit-border-radius: 0;
      overflow: auto;
    }
    @media (min-width: em(1024)) {
      left: 50%;
      top: 50%;
    }
  }
  .close {
    background: none;
    border: 0;
    margin-bottom: rem(40);
    margin-left: auto;
    cursor: pointer;
    position: relative;
    right: rem(-40);
    transition: 0.2s;
    &:hover {
      transform: rotate(90deg);
    }
    &:active {
      transform: rotate(90deg) scale(0.8);
    }
    @media (max-width: em(1024)) {
      right: 0;
    }
    .icon {
      color: #976464;
    }
  }
  .active {
    @media (min-width: em(1024)) {
      @keyframes animation {
        0% {
          transform: translate(-50%, -50%) scale(0.7);
        }
        50% {
          transform: translate(-50%, -50%) scale(1);
        }
        75% {
          transform: translate(-50%, -50%) scale(0.98);
        }
        100% {
          transform: translate(-50%, -50%) scale(1);
        }
      }
    }
    @media (max-width: em(1024)) {
      @keyframes animation {
        0% {
          transform: translateY(100%);
        }
        100% {
          transform: translateY(0);
        }
      }
    }
  }
}

.ErrorInput {
  border: 1px solid red;
  &::placeholder {
    color: red;
  }
}

.ErrorMessage {
  color: red;
}

//=====================================================================================================
.DisplayNone {
  display: none;
}

.PointerNone {
  pointer-events: none;
}
