@import "../../assets/scss/_mixins/mixins.scss";



.payment{
    padding: 0 rem(60) rem(70);
    @media(max-width: em(1340)){
        padding-left: unset;
        padding-right: unset;
    }
}
.title{
    margin-bottom: rem(50);
}
.text{
    line-height: 150%;
    &:not(:last-child){
        margin-bottom: rem(50);
    }
}