@import '../../assets/scss/_mixins/mixins.scss';

.button {
  position: fixed;
  z-index: 1000;
  background-color: #976464;
  bottom: 50px;
  right: 50px;
  width: rem(50);
  height: rem(50);
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  transform: translateY(calc(120% + 50px));
  transition: transform 0.2s;
  &.active {
    transform: translateY(0);
  }
}
.icon {
  transform: rotate(-90deg);
  width: rem(20);
  color: white;
}
